EXPO_PUBLIC_SUPABASE_URL=https://vuastahamhqsxjqfuxok.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ1YXN0YWhhbWhxc3hqcWZ1eG9rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk4MjMyNzksImV4cCI6MjA5NTM5OTI3OX0.I5FeH53S4RxQQepuT0bD-jxN1xiF72lagfndy-tGX4c
